body {
    font-family: 'Roboto', sans-serif;
    color: black;
    max-width: 1024px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.NamePhoto {
    display: inline-flex;
    align-items: center;
}

.NamePhoto>img {
    width: 100px;
    border-radius: 250px;
    margin-left: 63px;
}